@import url('https://fonts.googleapis.com/css?family=Raleway:400,600,900');

html, body{
	position: relative;
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	line-height: 24px;
}

body{
	background-color: white;
}

h1{
	font-size: 64px; 
	line-height: 72px;
}

h4.section-header{
	font-weight: 600;
	margin-bottom: 60px;
}	

p{
	font-size: 14px;
	line-height: 28px;
}

.bold{
	font-weight: 900;
}

.container{
	padding: 60px 30px;
}

.container--hero{
	height: 80%;
	
	padding-top: 200px;
	padding-bottom: 150px;
	
	display: flex; 
	flex-direction: row; 
	justify-content: space-around;


	.headline{
		max-width: 450px;
	}

}

.mark{
	font-size: 18px;
	line-height: 32px;
	font-weight: 600;
}